.card-debate {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px; /* Ajustado para ser más compacto */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.image-container {
    width: 100%;
    margin-bottom: 20px;
}

.debate-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 20px;
    text-align: left; /* Alinear a la izquierda */
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.description {
    font-size: 1rem;
    color: #555;
    text-align: left;
}

.metrics {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 0.9rem;
    color: #666;
}

.details-and-view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.details,
.points-of-view {
    width: 48%;
    text-align: left; /* Alinear a la izquierda */
}

.details h2,
.points-of-view h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
}

.details ul,
.points-of-view ul {
    list-style: none;
    padding: 0;
}

.details li,
.points-of-view li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    color: #333;
}

.details .icon,
.points-of-view .icon {
    margin-right: 8px;
    color: #555;
}

.join-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: 100%;
}

.join-button:hover {
    background-color: #45a049;
}
